<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="8">
        <meta name="viewport" content ="width=device-width, initial scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>About Us</title>
        <link rel="stylesheet" href="static/css/about.css">
    </head>
    <!-- Navigation Bar -->
    <body>
        <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,100,300,700,400' rel='stylesheet' type='text/css'>

<div class= "header">
  <h1>
    <img src="https://drive.google.com/uc?id=1I9soqyAVIJce0UdpjjmOwxG58PZFazyk" width="auto" height="60" alt="">
  </h1>
  <input type="checkbox" id="nav" />
  <label for="nav" class="material-icons">dehaze</label>
  <nav class="circle">
    <ul>
      <li><a href="https://codepen.io/tabrisxing/debug/NWWebgM">Home</a></li>
      <li><a href="https://codepen.io/tabrisxing/debug/povbZNW">About Us</a></li>
      <li><a href="https://codepen.io/tabrisxing/debug/XWJjddK">Services</a></li>
      <li><a href="https://codepen.io/tabrisxing/debug/ExagyjE">Contact</a></li>
    </ul>
  </nav>
  
</div>

<div class="about_us">
  <h2>TravelGenie</h2>
  <div class="mission">
    <span>MOTTO</span>
    <p>Our mission is to give you an ultimate travel Experience.</p>
  </div>
  <span>Our Mission</span>
  <p>Our mission is to give our friends a perfect and efficient travel experience based on our recomendation to give them a memorable experience to be held for a lifetime.</p>
  <span>HISTORY</span>
  <p>Welcome to TravelGenie! We are a passionate team of travel enthusiasts who love to explore the world and help others do the same. Our mission is to make travel planning easy, enjoyable, and stress-free for everyone.</p>
  <img src="https://www.pexels.com/photo/white-airplane-window-2405101/" width = 700 alt="">
  <span>OUR COMMITMENT</span>
  <p>
    Whether you're an adventurous solo traveler, a family looking for a relaxing getaway, or a group of friends seeking unforgettable experiences, we've got you covered. With our extensive knowledge and expertise, we'll tailor the perfect itinerary that matches your interests and preferences.</p>
    <p>At TravelGenie, we believe in creating memorable journeys that go beyond the ordinary. Our goal is to connect you with local cultures, breathtaking landscapes, and hidden gems, making your trips truly exceptional.</p>
   <h2>Our Team</h2> 
   <h3>Muhammed Saalim OS</h3>
   <h3>Hiba Fathima TS</h3>
   <h3>Aashna Salam</h3>
   <h3>Aidanphil Antony Dias</h3>

</div>

<div class="footer">
  <div class="address">
    <span class="street">Main Office Address:</span>
    <span class="street">Room 201 Aisat Rd.</span>
    <span class="street">Kerala,India</span>
    <span class="street">682031</span>
  </div>
  <div class="phone">
    <span>Phone: +91 9786554321</span>
    <span>Fax: +91 9567342912</span>
  </div>
  <div class="email">
    <!-- TODO code rest of text -->
    <span class="email">Ask your question by email</span>
    <a class="email" href="help@travelgenie.com"><i class="icon-email"></i>help@travelgenie.com</a>
  </div>
  <div class="copyright">
    <span>© TravelGenie</span>
  </div>
</div>
    </body>
</html>    